# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\03_Learning\Python\schedule_ai\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
